<footer>
  <div class="p-6 flex flex-col md:flex-row md:gap-x-8 items-center">
    <div class="flex py-4 items-center gap-x-4">
      <img class="w-28 h-28" src="/assets/png/3d-glasses.png" />
      <div class="flex flex-col">
        <span class="text-lg md:text-5xl font-bold">libroFilmes</span>
        <span class="text-base font-semibold text-road-300">luis junior</span>
      </div>
    </div>

    <div class="flex flex-col md:flex-row md:flex-grow items-center gap-y-8">
      <div class="flex md:flex-1 items-center justify-center gap-x-4">
        <img src="/assets/png/github.png" class="w-10 h-10" />
        <a
          href="https://github.com/Luis-Junior"
          target="blank"
          class="font-semibold text-road-300"
          >Luis junior</a
        >
      </div>

      <div class="flex md:flex-1 items-center justify-center gap-x-4">
        <img src="/assets/png/linkedin.png" class="w-10 h-10" />
        <a
          href="https://www.linkedin.com/in/luis-alberto-branco-6010ab17b/"
          target="blank"
          class="cursor-pointer font-semibold text-road-300"
          >Luis junior</a
        >
      </div>

      <div class="flex md:flex-1 items-center justify-center gap-x-4">
        <img src="/assets/png/whatsapp.png" class="w-10 h-10" />
        <a
          href="https://api.whatsapp.com/send/?phone=5515996419738&text&app_absent=0"
          target="blank"
          class="cursor-pointer font-semibold text-road-300"
          >Luis junior</a
        >
      </div>
    </div>
  </div>
  <div class="p-2 text-center text-sm text-road-300">
    2022 libroFilmes - Luis Alberto P B Jr
  </div>
</footer>
